/* Reset styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}



.first-container{
    border: solid black;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.child-one,.child-two,.child-three{
    border: solid black;
    display: flex;
    justify-content: space-between;
    
}

.child-one{
    margin-right: 20%;
}

.child-two{
    margin-right: 20%;
}